@import "tailwindcss";

@theme {
    --font-raleway: "Raleway", sans-serif;
    --font-inter: "Inter", sans-serif;
    --color-primary: #286F6C;
}


body {
    font-family: 'Saira', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #fff;
    /* Track color */
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}